/* You can add global styles to this file, and also import other style files */
.icon-subtitle {
    color: #70757a;
    font: 14px/20px arial,sans-serif;
    letter-spacing: .2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 12px;
    right: 12px;
}

.fs-12 {
    font-size: 0.7rem
}

.movie-item > img {
    border-radius: 8px;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background: rgba(0,0,0,0.92);
    overflow: hidden;
    width: 0;
    height: 100%;
    border-radius: 8px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.overlay .btn-play {
    align-items: center;
    align-content: center;
    float: center;
    bottom: 0;  
}

.movie-item:hover .overlay {
    cursor: pointer;
    width: 100%;
    left: 0;
}

.bg-light {
    background-color: black!important;
}

.text-white {
    color: white!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white!important;
}